/client/node_modules
# production
/client/build
/server/node_modules
/server/.env
/client/.env
/client/src/environment.js
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/Flask/env
/Flask/df_new_emb.pkl

*.pkl

*.ipynb

dataset/
dataset/*
frontend/.env
