.footer {
  width: 100%;
  background-color: #232127;
}

.footer__logo a {
  display: block;
  text-decoration: none !important;
  cursor: pointer;
  color: white;
}
.footer__container {
  padding-top: 100px;
  padding-bottom: 120px;
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .footer__container {
    width: 90%;
  }
}

.footer__lists__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  footer .footer__container .footer__lists__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 1000px) {
  footer .footer__container .footer__lists__container {
    margin: 30px 0;
  }
}

footer .footer__container .footer__lists__container .footer__list {
  padding: 0 50px;
}

@media screen and (max-width: 550px) {
  footer .footer__container .footer__lists__container .footer__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0px;
  }
}

footer .footer__container .footer__lists__container .footer__list .title {
  font-weight: 700;
  color: #fff;
  padding-bottom: 10px;
  cursor: auto;
}

footer .footer__container .footer__lists__container .footer__list .title:hover {
  color: #fff;
}

footer .footer__container .footer__lists__container .footer__list li {
  list-style: none;
  font-size: 16px;
  line-height: 2.2;
  color: #9e9aa7;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .footer__container .footer__lists__container .footer__list li:hover {
  color: #2acfcf;
}

@media screen and (max-width: 550px) {
  footer .footer__container .footer__lists__container .footer__list li {
    text-align: center;
  }
}

footer .footer__container .social__media {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 20px;
  width: 160px;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  footer .footer__container .social__media {
    width: 180px;
    margin: auto;
  }
}

footer .footer__container .social__media .social__media__icon svg {
  width: 100%;
  cursor: pointer;
}

footer .footer__container .social__media .social__media__icon svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .footer__container .social__media .social__media__icon svg:hover path {
  fill: #2acfcf;
}
